body {
    background: #1b1b1b;
    font-family: sans-serif;
}

.container {
    width: 1460px;
    margin: 0 auto;
}

.head {
    padding-block: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-company {
    width: 216px;
    height: 33px;
}

.header-number {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #D6AF76;
    margin-left: auto;
}

.header-number span {
    color: #FFFFFF;
}

.header-link {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #E4B564;
    margin-left: 40px;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    text-decoration: none;
}

.header-logo-phone {
    margin-right: 10px;
}

.img-background1 {
    background-image: url(../img/img_background/header-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-block: 90px;
 }

.section-name {
    font-weight: bold;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.description {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding-block: 41px;
    padding-right: 270px;
}


.wrapper-tasks {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
   "block1 block1 block2 block2 block3 block3"
   "block4 block4 block4 block5 block5 block5 ";
}

.tasks-block1 {
    grid-area: block1;
    background: #634F2C;
    text-align: center;
}

.tasks-block2 {
    grid-area: block2;
    background: #B4A385;
    text-align: center;
}

.tasks-block3 {
    grid-area: block3;
    background: #E4B564;
    text-align: center;
    
}

.tasks-block4 {
    grid-area: block4;
    background: #635A4A;
    text-align: center;

}

.tasks-block5 {
    grid-area: block5;
    background: #B08C4D;
    text-align: center;
}

.tasks-text {
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: #FFFFFF;
padding-block: 220px;
}

.list-of-technics {
    padding-block: 90px;
}

.img-background2 {
    background-image: url(../img/img_background/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-block: 90px;
 }

.wrapper-technics {
    padding-top: 94px;
    display: flex;
    justify-content: space-between;
}

.wrapper{
    width: calc(100%/3 - 15px);
}
.technics-block1 {
    background: #0E0E0E;
    height: 313px;
    margin-bottom: 24px;
 }

 .technics-block4 {
    background: #1F1F1F;
    height: 560px;
 }

 .technics-block2 {
    background: #242424;
    height: 439px;
    margin-bottom: 33px;
 }

 .technics-block6 {
    background: #E4B564;
    height: 405px;
 }

 .technics-block6 P {
    color: #000000;
 }

 .technics-block3 {
    background: #1F1F1F;
    height: 255px;
    margin-bottom: 26px;
 }

 .technics-block5 {
    background: #0E0E0E;
    height: 313px;
    margin-bottom: 26px;
 }

 .technics-block7 {
    background: #0A0909;
    height: 277px;
 }

 .technics-text {
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 44px;
    padding-left: 52px;
    }

.technics-text span {
    font-weight: 900;
    }

 .projects {
     padding-bottom: 100px;
 }   

 .projects-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 72px;
 }
 .projects-link {
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid #E4B564;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    text-decoration: none;
 }

 .wrapper-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
 }

 .wrapper-projects div{
    height: 391px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
 } 

 .projects-block1 {
    background: #634F2C;
 }

 .projects-block2 {
    background: rgba(232, 210, 171, 0.76);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
 }
 
 .projects-link-block {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 16px;
 }

 .projects-link-block span {
    font-weight: 500;
 }
 
 .projects-block3 {
    background: #E4B564;
 }

 .projects-block4 {
    background: #635A4A;
 }

 .projects-block5 {
    background: #B08C4D;
 }

 .projects-block6 {
    background: #634F2C;
 }


 